In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
# P3_7417 = pd.read_csv('../input/sibur-csv/P3_7417.csv',parse_dates=["date"], index_col="date")
# P3_6751 = pd.read_csv('../input/sibur-csv/P3_6751.csv',parse_dates=["date"], index_col="date")
# P4_7745 = pd.read_csv('../input/sibur-csv/P4_7745.csv',parse_dates=["date"], index_col="date")

In [3]:
# P3_7417 = pd.read_csv('../input/sibur-csv/P3_7417.csv',parse_dates=["date"], index_col="date")
# P3_6751 = pd.read_csv('../input/sibur-csv/P3_6751.csv',parse_dates=["date"], index_col="date")
# P4_7745 = pd.read_csv('../input/sibur-csv/P4_7745.csv',parse_dates=["date"], index_col="date")

In [4]:
P3_7417 = pd.read_csv('submit_model1.csv',parse_dates=["date"], index_col="date")
P3_6751 = pd.read_csv('submit_model2.csv',parse_dates=["date"], index_col="date")
P4_7745 = pd.read_csv('submit_model3.csv',parse_dates=["date"], index_col="date")

In [5]:
S = pd.DataFrame()
S['pet4'] = P3_7417['pet']
S['pet3'] = P3_6751['pet']
S['pet2'] = P4_7745['pet']
S['pet'] = S.mean(axis=1)
S.drop(['pet4','pet3','pet2'],axis=1).to_csv('submit_final.csv')

In [6]:
# S = pd.DataFrame()
# S['pet4'] = P3_7417['pet']
# S['pet3'] = P3_6751['pet']
# S['pet'] = S.mean(axis=1)
# S.drop(['pet4','pet3'],axis=1).to_csv('submit_final.csv') # 1.2 scor

In [7]:
S

                   pet4         pet3         pet2          pet
date
2016-01-01   769.417458   777.046720   814.815825   787.093334
2016-02-01   742.123773   744.657477   800.567281   762.449510
2016-03-01   830.527664   833.074701   788.893168   817.498511
2016-04-01   873.103621   887.540681   828.306533   862.983612
2016-05-01   861.457150   870.331151   851.170608   860.986303
2016-06-01   896.959245   899.335349   808.832132   868.375575
2016-07-01   872.978010   884.940862   790.833370   849.584081
2016-08-01   842.315566   855.146753   814.392958   837.285092
2016-09-01   854.783116   852.643685   824.355943   843.927581
2016-10-01   906.276341   908.854510   834.465881   883.198911
2016-11-01   919.058501   926.545368   834.686357   893.430075
2016-12-01   886.246009   879.702119   872.120119   879.356082
2017-01-01   995.415044   998.059532   916.962759   970.145778
2017-02-01  1080.915290  1084.207856  1004.154908  1056.426018
2017-03-01  1013.337765  1024.995532  1043.091885  1027.141727
2017-04-01   984.721602   980.358645   997.895364   987.658537
2017-05-01   949.582243   952.009165   943.343435   948.311614
2017-06-01   881.461157   879.301825   907.068819   889.277267
2017-07-01   912.258169   914.188008   899.267569   908.571249
2017-08-01   925.761316   927.933407   914.739546   922.811423
2017-09-01   986.450151   996.570785   981.998154   988.339697
2017-10-01   996.451658  1001.856463   998.708289   999.005470
2017-11-01   962.078962   973.751668   963.261754   966.364128
2017-12-01  1010.304840  1019.151000   981.540521  1003.665454
2018-01-01  1025.117274  1029.630848  1000.128508  1018.292210
2018-02-01  1083.481367  1091.760328  1059.150788  1078.130828
2018-03-01  1046.805904  1042.706123  1080.161582  1056.557870
2018-04-01  1072.784662  1062.289086  1110.600116  1081.891288
2018-05-01  1100.217642  1095.085401  1066.786108  1087.363050
2018-06-01  1122.436448  1129.838682  1116.175374  1122.816835
2018-07-01  1056.087865  1062.644351  1114.954977  1077.895731
2018-08-01  1084.458055  1084.030246  1104.509731  1090.999344
2018-09-01  1106.013853  1100.283934  1172.014024  1126.103937
2018-10-01  1168.736034  1192.379622  1276.263332  1212.459662
2018-11-01  1280.665445  1285.791392  1257.958199  1274.805012
2018-12-01  1148.281850  1135.603341  1142.861833  1142.249008
2019-01-01  1068.046377  1045.882836  1075.766547  1063.231920
2019-02-01  1022.389833  1011.766349  1024.972083  1019.709422
2019-03-01  1039.372404  1049.018731  1028.935246  1039.108794
2019-04-01  1050.946334  1059.288891  1032.825462  1047.686896
2019-05-01  1071.964855  1073.416930   996.835629  1047.405805
2019-06-01  1031.951993  1032.878632   953.392898  1006.074508
2019-07-01   917.624508   908.271667   884.389625   903.428600